html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: #f2f3f5;
}
.layui-card-header{
    display: flex;
    /* 主轴靠两边展示 */
    justify-content: space-between;
    /* 侧轴垂直居中 */
    align-items: center;
}
#addcateFORM{
    padding:15px 30px 10px 0;
}
#editcateFORM{
    padding:15px 30px 10px 0;
}